
//DUAL PAGE

.overlay-content {
  text-align: justify;
  background-color: $ltGold;
  color: $gold;
  padding: 20px 20px 10px;
  margin-bottom: $grid-gutter-width;

  &.couple-content {
    text-align: center;
    padding: 30px;
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
  }
  .underline {
    margin: 0 auto;
    min-width: 50px;
    width: 10%;
    height: 3px;
    line-height: 3px;
    background: $gold;
    margin-bottom: 10px;
  }
}

@media (min-width: $screen-md-min) {

  .overlay-content {
    margin-top: 20px;
    margin-left: -2 * $grid-gutter-width;
    width: calc( 33.33333333333% + 25px);

    &.onleft {
      margin-left: 0;
      margin-right: -2 * $grid-gutter-width;
      position: relative;
      z-index: 3
    }
  }

}
