.header {

  text-transform: uppercase;
  .navbar-header {
    margin: 10px 0;
    text-align: center;

    .navbar-brand {
      float: none;
      img {
        display: inline-block;
      }
    }
  }

  .navbar {
    border-bottom: 1px solid $gold;
    margin-bottom: 0;
    .navbar-toggle {
      margin-right: 5px;
      margin-left: 20px;
    }
    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      clear: both;
    }

    .navbar-collapse {
      text-align: center;
    }

    a {
      font-size: 1em
    }

  }

  .logo {
    width: 250px;
  }
}

.footer {
  .navbar {
    margin-bottom: 0;

  }
  font-size: 0.8em;

  .navbar-right {
    li {
      float: left;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    li a {
      padding-top: 0px;
      padding-bottom: 0px;
      border-right: 1px solid #fff;
    }
    li:last-child a {
      border-right: none;
    }
  }
  .facebook-icon {
    margin-left: 10px;
  }
}

@media (max-width: $screen-xs-min) {
  .header {
    .navbar {
      .navbar-toggle {
        float: none;
        margin-top: 10px;
        margin-left: 70px;
        margin-right: 70px;
      }
    }

  }
}
@media (min-width: $screen-sm-min) {
  .header {
    .navbar-header {
      width: 100%;
    }
  }
}
@media (min-width: $screen-md-min) {
  .header {
    .navbar {
      font-size: 1.3em;
    }
  }
}
