.home-container {
  position: relative;
  .item {
    min-height: 250px;
    background-size: cover;
    height: calc( 100vh - 172px );
  }
}
.overlay-caption {
  color: #fff;
  position: absolute;
  bottom: 12%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  text-align: center;
  h3 {
    font-weight: 100;
  }
  .btn {
    margin-top: 10px;
    font-size: 1.1em;
    margin-bottom: 0px;
  }
}

@media (min-width: $screen-xs) {
  .home-container {
    .item {
      height: calc( 100vh - 120px );
    }
  }
}

@media (min-width: $screen-sm-min) {
  .home-container {
    .item {
      height: calc( 100vh - 170px );
    }
  }
  .overlay-caption {
    bottom: 7%;
    width: 400px;
    margin-left: -200px;
  }
}

@media (min-width: $screen-lg) {
  .home-container {
    .item {
      min-height: 400px;
    }
  }
  .overlay-caption {
    h3 {
      font-size: 1.8em
    }
    .btn {
      font-size: 1.4em;
    }
  }
}


