@import '_reset';

//Add in the Bootstrap vars
$gold: #9b8442;
$ltGold: #ebe7d9;
$text-color: #191919;
$link-color: $gold;


// bower:scss
@import "_bootstrap.scss";


/* We like off-black for text. */

body,
select,
input,
textarea {
  color: #191919;
}

a {
  color: $gold;
}

a:hover {
  color: $gold;
}


/* Custom text-selection colors */

::-moz-selection {
  background: $ltGold;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: $ltGold;
  color: #fff;
  text-shadow: none;
}


/*  j.mp/webkit-tap-highlight-color */

a:link {
  -webkit-tap-highlight-color: $ltGold;
}

ins {
  background-color: $gold;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: $gold;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Mozilla dosen't style placeholders by default */

input:-moz-placeholder {
  color: #a9a9a9;
}

textarea:-moz-placeholder {
  color: #a9a9a9;
}

img {
  max-width: 100%;
}

.btn {
    text-transform: uppercase;
}

.headroom-20 {
  margin-top: 20px;
}

video {
  width: 100%;
}







